
/* homepage */
#logo_color {
    color: #7952b3;
    font-size: 20px;
}

#btn {
  margin: 10px 210px;
}

.btn_div {
  margin: 250px 513px;
}

/* listofmovies */

.table_listofmovies {
  border-collapse: separate;
  border-spacing: 50px 0;
  padding-top: 10px;
  background: #eeeeee;
}

.td_listofmovies {
  padding-top: 10px;
  padding-bottom: 10px;
}

.h4_listofmovies {
  background: #eeeeee;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 0px;
  text-align: left;
}

#description_listofmovies {
  text-align: center;
}

.content_listofmovies {
  background: #eeeeee;
}

.footer_listofmovies {
  text-align: center;
  height: 50px;
  padding-top: 10px;
  color: white;
}

/* movie_detail */
.first {
  height: auto;
  background-color: #eeeeee;
  text-align: left;
  width: auto;
  float: left;
}

.third {
  width: auto;
  background: #eeeeee;
  /* height: 700px; */
  float: left;
  text-align: left;
}

.clear {
  clear: both;
}

#p_movie_detail {
  padding-top: 3px;
  text-align: left;
}

.h4_movie_detail {
  text-align: left;
}

.description_movie_detail {
  text-align: left;
}

.footer_movie_detail {
  text-align: center;
  height: 50px;
  padding-top: 10px;
  color: #121212;
}
/* genres */
