<!DOCTYPE html>{%load static%}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{%static '/css/style.css'%}">
    <title>listofmovies</title>
    <style media="screen">
      body {
        background-color: #121212;
      }
      .container {
        width: auto;
        background: #eeeeee;
      }

    </style>

  </head>
  <body>

    <nav class="navbar navbar-expand-md navbar-light bg-dark">
      <a class="navbar-brand" href="#">
        <img src="{%static 'video-camera.png'%}" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
      <a id="logo_color" href="{%url 'homepage'%}"><strong>movieStack</strong></a>
      </a>
      <button class="navbar-toggler bg-light" data-toggle='collapse' data-targer='#navbar' type="button" name="button"><span class="navbar-toggler-icon"></span></button>
          <div id="navbar" class="collapse navbar-collapse justify-content-between">
            <ul class="navbar-nav">
              <li class="nav-item dropdown"><a class="nav-link text-light text-uppercase font-weigth-bold px-3 dropdown-toggle" data-toggle='dropdown' href="#">Categories</a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">Genre</a>
                  <a class="dropdown-item" href="#">Year</a>
                  <a class="dropdown-item" href="#">Rating</a>
                </div>
              </li>
              <li class="nav-item"><a class="nav-link text-light text-uppercase font-weigth-bold px-3" href="#">Contacts</a></li>
              <li class="nav-item"><a class="nav-link text-light text-uppercase font-weigth-bold px-3" href="{%url 'listofmovies'%}">Top rated movies</a></li>
            </ul>
            <form class="form-inline" action="index.html" method="post">
              <div class="input-group">
                <input type="text" placeholder="Search" value="">
                <div class="">
                  <button class="btn-success" type="button" name="button"><i class="material-icons md-24">search</i></button>
                </div>
              </div>
            </form>
          </div>
        </nav>
        <div class="container">
          <div class="content_listofmovies">
          <h4 class="h4_listofmovies">Top Rated Movies</h4>
          <hr>
            <table class="table_listofmovies">
              <th id="nick">Title&Rank</th>
              <th>Genre</th>
              <th id="description_listofmovies">Short description</th>
              {%for i in movies%}
                {%for y in i.genre.all%}
              <tbody>
                <tr>
                  <td class="td_listofmovies">
                    <a href="{%url 'moviedetails' i.id%}">
                      {{i.title}}
                    </a>
                    <br>
                    <img src="{{i.poster.url}}" alt="" width="110" height="150"/> {{i.release}}
                    <br>
                  </td>
                  <td class="td_listofmovies">{{y}}</td>
                  <td class="td_listofmovies">{{i.get_summary}}</td>
                  {%endfor%}
                {%endfor%}

                </tr>
              </tbody>

            </table>
          </div>
        </div>

        <footer class="footer_listofmovies">
          Contact to support:
          <a href="mailto:support@gmail.com" class="btn btn-primary">Mail</a>
        </footer>

  </body>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</html>
